fastapi
uvicorn
python-dotenv
pydantic
tiktoken
pypdf
wikipedia
fastapi
uvicorn
pydantic
sqlalchemy
gunicorn
pytest

langchain-huggingface
langchain-community
langchain-groq
langgraph
huggingface-hub
sentence-transformers
langchain-core

chromadb
duckduckgo-search
yahoo-finance
