fastapi
uvicorn
python-dotenv
pydantic
tiktoken
pypdf
wikipedia
sqlalchemy
pytest
langchain
langchain-huggingface
langchain-community
langchain-groq
langgraph
huggingface-hub
sentence-transformers
langchain-core
chromadb
duckduckgo-search
yahoo-finance
